%div.container
  %div.row{style: "height: 200px"}
    %div.col-md-2
    %div.col-md-8.d-flex.align-items-center.justify-content-center.display-2.bg-success.bg-opacity-50 Furry V Fan
    %div.col-md-2

%div.container
  %div.row{style: "height: 200px"}
    %div.col-md-3.offset-md-0.bg-success
    %div.col-md-3.offset-md-1.bg-success
    %div.col-md-3.offset-md-1.bg-success

%div.container
  %div.row{style: "height: 200px"}
    %div.col-md-3.offset-md-1.bg-success
    %div.col-md-3.offset-md-1.bg-success
    %div.col-md-3.offset-md-1.bg-success

%div.col-md-10.offset-md-1.bg-success.bg-opacity-25{style: "height: 500px"}
  a
